<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head", { title: "Little BU!" }) %>
    </head>
    <body>
        <%- include("partials/header") %>

        <main class="product-index">
            <h2>Productos destacados</h2>
            <section class="content-destacados">
                <% for(let i = 0; i < 3; i++) { %>
                <%-include("partials/article") %> <% } %>
            </section>
            <h2>Ofertas</h2>
            <section class="content-ofertas">
                <% for(let i = 0; i < 3; i++) { %>
                <%-include("partials/article") %> <% } %>
            </section>
        </main>
        <%- include("partials/footer") %>
    </body>
</html>
