<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head', {title: "Detalle de Productos"}) %>
    </head>
    <body>
        <%- include('../partials/header') %>
        <main>
            <h2>Detalle del producto: <%= product.name %></h2>
            <article>
                <div>
                    <img
                        src="/img/<%= product.image %>"
                        alt="<%= product.name %>"
                    />
                </div>
                <div>
                    <h1><%= product.name %></h1>
                    <p>
                        <span><%= product.price %></span> / <%= product.discount
                        %>%OFF
                    </p>
                </div>
                <form action="/product/cart" method="GET">
                    <button type="submit">Comprar</button>
                </form>
                <form action="/products/<%= product.id %>/edit " method="GET">
                    <button type="submit">Editar</button>
                </form>
                <form
                    action="/products/<%= product.id %>/delete?_method=DELETE"
                    method="POST"
                >
                    <button type="submit">Borrar producto</button>
                </form>
            </article>
        </main>

        <%- include('../partials/footer') %>
    </body>
</html>
